<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ 'Message pour la livraison'|trans }}</h3></div>
    <div class="panel-body">
        {{ order.shippingMessage }}
    </div>
</div>