<div class="small-box bg-aqua">
    <div class="inner">
        <h3>{{ count }}</h3>

        <p>Commandes en cours</p>
    </div>
    <div class="icon">
        <i class="fa fa-shopping-cart"></i>
    </div>
    <a href="{{ path('order_adminList') }}" class="small-box-footer">Liste complète <i class="fa fa-angle-right"></i></a>
</div>
