{# Dywee\OrderBundle\Resources\View\Offer\add.html.twig #}

{%  extends "DyweeOrderBundle::admin.html.twig" %}

{% block title %}
    Création d'une offre {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Création d'une offre</h1>

    {%  include "DyweeOrderBundle:Offer:form.html.twig" %}
{% endblock %}