{# Dywee\OrderBundle\Resources\View\Order\addRent.html.twig #}

{%  extends "DyweeOrderBundle::admin.html.twig" %}

{% block title %}
    Création d'une commande {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Création d'une commande de location</h1>

    {%  include "DyweeOrderBundle:Order:formRent.html.twig" %}
{% endblock %}