{# Dywee\OrderBundle\Resources\View\Order\edit.html.twig #}

{%  extends "DyweeOrderBundle::admin.html.twig" %}

{% block title %}
    Modification des génération de référence facture {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Modification des génération de référence facture</h1>

    {% include "DyweeOrderBundle:OrderReferenceBuilder:form.html.twig" %}
{% endblock %}