{# Dywee\OrderBundle\Resources\View\Order\edit.html.twig #}

{%  extends "DyweeOrderBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification des génération de référence facture {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h2 class="box-title">Modification des génération de référence facture</h2>
            </div>
            <div class="box-body">
                {% include "DyweeOrderBundle:OrderReferenceBuilder:form.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}