<html>
    <head>
        <link href="http://www.labelgiqueunefois.com/bundles/dyweecore/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
    <div class="container">
        <h1>Cher client,</h1>
        <p>Nous vous confirmons que votre commande a quitté notre entrepôt aujourd'hui et été déposée auprès de nos partenaires transport.</p>

        <p>Selon votre choix, ceux-ci ne vont pas tarder à vous informer de l'arrivée de votre colis au Point Relais que vous avez désigné ou vont vous le livrer à domicile très prochainement.<br>
        L’information vous parviendra sur l'adresse e-mail que vous nous avez indiquée en « Données de livraison » (attention, en fonction du niveau de sécurité de votre messagerie, il se peut que leur courriel apparaisse dans votre boite ‘courrier indésirable’).</p>

        <p>Pour plus de détails sur les délais de livraison de nos prestataires voir <a href="http://www.labelgiqueunefois.com/fr/page/17">Nos tarifs de livraison</a>

        <p>Nous vous souhaitons de bons moments de dégustation.</p>

        {#<p>Pour vérifier le statut de votre commande, rendez‐vous <a href="#">ici</a></p>#}

        <p>Cordialement,</p>

        <img src="http://www.labelgiqueunefois.com/bundles/dyweecore/images/logo.png" alt="La Belgique Une Fois" />
    </div>
    </body>
</html>