{# Dywee\OrderBundle\Resources\View\Order\view.html.twig #}

{%  extends "DyweeOrderBundle::layout.html.twig" %}

{% block bodyContent %}
    <h1>Confirmation de votre commande</h1>

    <div class="container">
        <p>Votre commande a bien été enregistrée, un email reprenant le détail de votre commande vous a été envoyé.</p>
        <p>Il ne nous reste plus qu'à valider le paiement. Un email vous sera à nouveau envoyé pour confirmer la bonne réception de votre paiement.
            Cela peut prendre 24 à 72h.</p>

        <p>Si vous ne voyez rien venir de notre part, soyez attentif, il se pourrait que notre courrier se trouve dans vos "indésirables"</p>

        <p>Votre référence de commande est le {{ validatedOrderReference }}</p>

        {#<p>Cordialement,</p>
        <img src="{{ asset('bundles/dyweecore/images/logo.png') }}" alt="La Belgique Une fois" />#}
    </div>
{% endblock %}